$pp_purple: #8348b5;
$pp_purple_light: #ab65e6;
$pp_light_bg: #f4f5f7;
$pp_light_fg: #0E1623;
$pp_light_fg_2nd: #ccc;
$pp_dark_bg: rgba(39, 39, 39, 1);
$pp_dark_fg: white;


$pp_btn_bg: $pp_purple;
$pp_btn_fg: white;


$breakpoint_tablet: 768px;

$page_width: 80rem;